@import "../colors.scss";

.GraveStone {
    box-sizing: border-box;

    & section.which-person {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & section.name {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 15px;

        span {
            display: block;
        }
    }

    & section.leaving-message {
        padding: 100px 20px 250px;
    }

}