@import "../colors.scss";

@mixin background-color($bg_color) {
  &.weak {
    background-color: rgba($bg_color, 75%);
  }

  &.strong {
    background-color: rgba($bg_color, 32%);
  }
}

.SingleTextFieldSentence {
  border-radius: 24.2px;

  // size
  &.s {
    width: 557px;
    height: 78px;
  }

  &.m {
    width: 637px;
    height: 78px;
  }

  // color
  &.dark-greenish-blue {
    @include background-color($dark-greenish-blue);
  }

  &.charcoal-gray {
    @include background-color($charcoal-gray);
  }
}