.P17 {
    width: 1920px;
    height: 1080px;
    background-image: url("../../assets/img/17-Window.png"), url("../../assets/img/17-BG.png");
    background-position: center;
    background-repeat: no-repeat;
}