.SeparatedTemplate17 {
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;

  & .H3 {
    position: relative;
    margin-bottom: 107px;
    height: 33px;
  }

  & .P {
    position: relative;
    height: 73px;
  }

  & video {
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(50%);
  }

  & .Img[alt="window"] {
    position: absolute;
    top: 0;
    left: 0;
  }

  & .Img[alt="rose"] {
    position: absolute;
    top: 441.9px;
    left: 86px;

    & + a {
      position: absolute;
      width: 284px;
      height: 628px;
      top: 452px;
      left: 174px;
      z-index: 1;
    }
  }

  & .Img[alt="freesia"] {
    position: absolute;
    top: 240.7px;
    left: 290.9px;

    & + a {
      position: absolute;
      width: 332px;
      height: 488px;
      top: 313px;
      left: 458px;
      z-index: 1;
    }
  }

  & .Img[alt="babyBreath"] {
    position: absolute;
    top: 386.4px;
    left: 666.1px;

    & + a {
      position: absolute;
      width: 376px;
      height: 586px;
      top: 454px;
      left: 794px;
      z-index: 1;
    }
  }

  & .Img[alt="tulip"] {
    position: absolute;
    top: 296.3px;
    left: 1004.6px;

    & + a {
      position: absolute;
      width: 324px;
      height: 589px;
      top: 326px;
      left: 1146px;
      z-index: 1;
    }
  }

  & .Img[alt="mum"] {
    position: absolute;
    top: 360.7px;
    left: 1325.3px;

    & + a {
      position: absolute;
      width: 324px;
      height: 589px;
      top: 452px;
      left: 1504px;
      z-index: 1;
    }
  }
}
