.SeparatedTemplate17 {
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  text-align: center;

  & .H3 {
    position: relative;
    margin-bottom: 107px;
    height: 33px;
  }

  & .P {
    position: relative;
    height: 73px;
  }

  & video {
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(50%);
  }

  & .Img[alt="window"] {
    position: absolute;
    top: 0;
    left: 0;
  }

  & .Img[alt="rose"] {
    position: absolute;
    top: 501.9px;
    left: 196px;
  }

  & .Img[alt="freesia"] {
    position: absolute;
    top: 305.7px;
    left: 410.9px;
  }

  & .Img[alt="babyBreath"] {
    position: absolute;
    top: 446.4px;
    left: 776.1px;
  }

  & .Img[alt="tulip"] {
    position: absolute;
    top: 346.3px;
    left: 1184.6px;
  }

  & .Img[alt="mum"] {
    position: absolute;
    top: 500.7px;
    left: 1525.3px;
  }
}
