.SeparatedTemplate16_1 {
  text-align: center;

  & video,
  .Img {
    position: absolute;
    top: 140px;
    left: 700px;
  }

  & .P {
    &.description {
      position: relative;
      top: 354px;
    }
    &.counter {
      position: relative;
      top: 435px;
    }
  }

  & .Button {
    position: relative;
    top: 964px;

    &.capture {
      & .Icon {
        margin-top: 12.3px;
      }
    }

    & + a {
      margin-left: 62px;
    }
  }
}
