.SeparatedTemplate7 {
  box-sizing: border-box;
  padding: 100px;
  text-align: center;

  & .H3 {
    height: 33px;
    margin-bottom: 107px;
  }

  & .P {
    height: 113px;
    margin-bottom: 121.4px;
  }

  & .SpanPair {
    display: flex;
    justify-content: space-between;
    & .Span:nth-of-type(1) {
      margin-left: 110px;
    }
    & .Span:nth-of-type(2) {
      margin-right: 118.5px;
    }
  }

  & a:nth-of-type(1) {
    position: absolute;
    width: 339.5px;
    height: 408.5px;
    top: 339px;
    left: 370.6px;
  }

  & a:nth-of-type(2) {
    position: absolute;
    width: 411.9px;
    height: 206.3px;
    top: 439.8px;
    left: 757.6px;
  }
}
