.SeparatedTemplate16_1 {
  & .P {
    position: absolute;
    text-align: center;
    height: 73px;
    top: 435px;
    left: 770px;
  }

  & video,
  Img {
    position: absolute;
    top: 140px;
    left: 700px;
  }

  & .Button {
    margin-top: 964px;

    & iframe[title="cam-icon"] {
      width : 80%;
      height : 100%;
    }

    &.capture {
      margin-left: 923.3px;
    }

    &.retake {
      margin-left: 788px;
    }

    &+a {
      margin-left: 62px;
    }
  }
}