.SeparatedTemplate16_1 {
  & .P {
    position: absolute;
    text-align: center;
    height: 73px;
    top: 435px;
    left: 770px;
  }

  & video,
  Img {
    position: absolute;
    top: 140px;
    left: 700px;
  }

  & .Button {
    margin-top: 964px;

    &.capture {
      margin-left: 923.3px;
    }

    &.retake {
      margin-left: 788px;
    }
  }

  & .Button + .Button {
    margin-left: 62px;
  }
}
