.Icon {
  &.camera {
    width: 47px;
  }

  &.delete {
    position: relative;
    width: 24px;
    left: 349px;
    top: 10px;
  }

  &.print {
    width: 50px;
  }

  &.home {
    width: 47px;
  }
}
