@import "../colors.scss";

.P {
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.82;
  letter-spacing: -0.22px;
  font-stretch: normal;
  font-style: normal;

  // translucent
  &.translucent {
    opacity: 0.87;
  }

  // color
  &.white {
    color: $white;
  }
  &.eclipse {
    color: $eclipse;
  }
  &.davy-gray {
    color: $davy-gray;
  }
}
