@import "../colors.scss";

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &::-ms-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}

.TextField {
  font-size: 22px;
  line-height: 1.95;
  letter-spacing: -0.22px;
  outline: none;
  border: none;
  background: transparent;
  font-family: "NotoSansKR"; // TODO edit name
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;

  // size
  &.xs {
    width: 46px;
    height: 18px;
  }
  &.s {
    width: 104px;
    height: 24px;
  }
  &.m {
    width: 186px;
    height: 18px;
  }
  &.l {
    width: 194px;
    height: 24px;
  }
  &.xl {
    width: 576px;
    height: 24px;
  }

  // font-weight
  &.normal {
    font-weight: 400;
  }
  &.extra-bold {
    font-weight: 800;
  }

  // placeholder-color
  &.dark-white {
    @include placeholder-color($dark-white);
  }
  &.davy-gray {
    @include placeholder-color($davy-gray);
  }
  &.eclipse {
    @include placeholder-color($eclipse);
  }
  &.white {
    @include placeholder-color($white);
  }
  &.dark-gray {
    @include placeholder-color($dark-gray);
  }
}
