@import "../colors.scss";

.TextArea {
    display: block;
    resize: none;
    border: none;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder {
        color: $dark-gray;
    }

    &::-moz-placeholder {
        color: $dark-gray;
    }

    &::-ms-placeholder {
        color: $dark-gray;
    }

    &::placeholder {
        color: $dark-gray;
    }

    &.item {
        background-color: $gain-gray;
        border-radius: 10px;
        padding: 11px 13px;
    }

    &.grave {
        background-color: transparent;

    }

}