@import "../colors.scss";

.TextArea {
  resize: none;
  border: none;
  font-stretch: normal;
  font-style: normal;
  outline: none;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus::-ms-placeholder {
    color: transparent;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &::-webkit-input-placeholder {
    color: $dark-gray;
  }

  &::-moz-placeholder {
    color: $dark-gray;
  }

  &::-ms-placeholder {
    color: $dark-gray;
  }

  &::placeholder {
    color: $dark-gray;
  }

  &.item {
    font-family: "Noto Sans KR";
    font-weight: normal;
    background-color: $gain-gray;
    width: 509px;
    height: 119px;
    font-size: 20px;
    color: #808080;
    line-height: 2.15;
    letter-spacing: -0.2px;
    margin: 14.5px 0 20.6px;
    padding: 11.4px 15px 18.6px 13px;
    border-radius: 10px;
    letter-spacing: -0.2px;
  }

  &.grave {
    font-family: "Nanum Myeongjo";
    background-color: transparent;
    text-align: center;
    width: 368px;
    height: 94.1px;
    font-size: 22px;
    color: $dark-gray;
    font-weight: 800;
    line-height: 1.64;
    letter-spacing: -0.22px;

    &::-webkit-input-placeholder {
      text-align: center;
    }

    &::-moz-placeholder {
      text-align: center;
    }

    &::-ms-placeholder {
      text-align: center;
    }

    &::placeholder {
      text-align: center;
    }
  }
}
