@import "./colors.scss";

@mixin fade-in-delay($delay) {
  animation: fade-in 2s linear $delay, non-visibility $delay;
}

@mixin fade-in-out-delay($delay) {
  animation: fade-in 1s ease-in-out alternate infinite $delay, non-visibility $delay;
}

@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes non-visibility {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes validate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.validate-text {
  animation: validate 1s linear, validate 2s linear alternate-reverse 5 1s forwards;
}

.fade-in-out {
  animation: fade-in 1s ease-in-out alternate infinite;
}

.fade-in-out-2s {
  @include fade-in-out-delay(2s);
}

.fade-in-out-3s {
  @include fade-in-out-delay(3s);
}

.fade-in-out-4s {
  @include fade-in-out-delay(4s);
}

.fade-in {
  animation: fade-in 2s linear;
}

.fade-in-2s {
  @include fade-in-delay(2s);
}

.fade-in-3s {
  @include fade-in-delay(3s);
}

.fade-in-4s {
  @include fade-in-delay(4s);
}

.fade-in-5s {
  @include fade-in-delay(5s);
}
