// WHITE
$white: #ffffff;
$lynx-white: #f7f7f7;
$white-smoke: #f2f2f2;
$dark-white: #dbdbdb;
$ivory: #f3e9d3;

// BLACK
$black: #000000;
$nero: #292929;
$eclipse: #3c3c3c;
$charcoal: #464646;
$charcoal-black: #535353;

// GRAY
$charcoal-gray: #8a9291;
$davy-gray: #555555;
$dark-gray: #808080;
$gray: #a4a4a4;
$light-gray: #b6b6b6;

// BROWN
$dark-brown: #4c331e;
$khaki-brown: #a39d88;
$dark-cocoa: #807271;
$cocoa: #8b7979;
$brown: #9f6429;
$wood: #997342;
$light-brown: #ba936b;
$beige: #eacca8;
$orange: #ed9942;

// BLUE
$grayish-navy: #565c69;
$dark-greenish-blue: #318599;
$greenish-blue: #348a9e;
$blue: #4da1c0;

// GREEN
$neon-green: #98fd72;
