@import "./colors.scss";

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &::-ms-placeholder {
    color: $color;
  }

  &::placeholder {
    color: $color;
  }
}

.check-validate {
  &.validate {
    & .TextField,
    & .TextArea {
      @include placeholder($red);
    }
  }
}
