.MultiTextFieldTemplate {
    box-sizing: border-box;
    text-align: center;
    padding: 100px;

    & .H3 {
        margin-bottom: 107px;
        height: 33px;

        &.close {
            margin-bottom : 81px;
        }
    }

    & .P {
        margin-bottom: 88px;
        height: 33px;

        &.close {
            margin-bottom : 70px;
        }
    }

    & .MultiTextFieldSentence {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .Button {
        margin-top: 116px;

        &.close {
            margin-top  : 100px;
        }
    }
}